
    @font-face {
        font-family: CrimsonRoman;
        src: url(Crimson-Roman.otf);
    }
    body {
    background-color: #eeeeee;
    background-size: 100%;
    padding-top: 2%;
    font-family: 'CrimsonRoman', sans-serif;
    font-size: 1.15rem;
    }


    a:not([href]):not([tabindex]),
    a, a:hover, a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {color: #FFFFFF;}

          
    textarea img {height: 100%; width: 100%;}

    .next, .back, .home, :after {
                       display:block;
                       /* padding-bottom:100%; */
                 }
    .next {right:6%;}
    .home {right:0px;}
    .back {right:12%}

    .next:hover {background: #BEBDC1;}
    .home:hover {background: #BEBDC1;}
    .back:hover {background: #BEBDC1;}

     .back, .home, .next  { background: #F4E6D6;
                 border: 0px dotted lightgoldenrodyellow;
                 margin: 3px;
                 padding: 1%;
                 width: 4%;
                 text-align: center;
                 float:right;
                 top: 0px;   
                 margin:0px;
                 box-shadow: -5px 5px 3px #706D70;  
                 -moz-box-shadow: -5px 5px 3px #706D70;
                 -webkit-box-shadow: -5px 5px 3px #706D70;   
                 position: fixed; }

        .back, .home, .next, img {max-width: 100%; max-height:100%;} 
                  
          .box {
                 border: 0px dotted lightgoldenrodyellow;
                 margin: 0px;
                 float: left;
                 width: 25%;
                 text-align: center;
                 height: 50px;
                 background-color: #567878;
                }
            .box a {
                 padding-top: 16px; 
                 padding-bottom: 10px;
                 display: inline-block;
                 font-size: 16px;
            }

            #text {
                margin-top:20px;
                font-size:14pt;
            }


            #title {
                text-align: center;
                color: #484132;
                text-transform: uppercase;
                word-spacing: 0.3em;
                font-family: 'CrimsonRoman', sans-serif;
                font-size: 20pt;
            }

            #title2 {
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-size: 15pt;
                font-style: italic;
            }

            textarea {
                padding: 15px;
            }

            a:link {
                text-decoration: none;
            }

            .box a:hover {
                background-color: #537575;
                display: block;
            }

            .navbar {
                padding: 0;
            }
            #homeimage {
                background-image: url(Images/1530.jpg);
                background-position: 50% 65%;
                height: 40%;
                background-size:cover;
            }
            .brown {
                background-color: #453829;

            }
            .homebox {
                height: 250px;
                width: 250px;
                color: white;
            }
            .orangybrown {
                background-color: #947D3B;
            }
            .olivegreen {
                background-color: #63603D;
            }
            h1 {
                font-size: 1.50rem;
            }
            button {
                background-color: transparent;
                border-style: solid;
                margin: 10px auto;
                height: 50px;
            }
            button:hover {
                background-color: rgba(201, 200, 200, 0.151);
            }
            .homebox a {
                padding-left: 1rem;
                padding-right: 1rem;
            }
            .homebox div {
                padding: 1rem;
            }
            .darktext {
                color: black;
            }
            .padding-top {
                padding-top: 2rem;
            }
            #ShorterCatechism li {
                list-style: none;
            }
            .row {
                margin-top: 20px;
            }
            h3 {
                text-align: center;
            }
            .no-margin {
                margin-top: 0px;
            }
            h6 {
                font-weight: bold;
            }
            .reg {
                color: #567878;
            }
            .reg:hover {
                color: #435e5e
            }
            .homebox div {
                padding: 10px;
            }
            .homebox div button {
                position: absolute;
                bottom: 10px;
                left: 32.5%;
                right: auto;
            }
            .dropdown {
                display: inline-block;
            }
            .box:hover {
                background-color: #537575;
            }
            .sam-ruth {
                background: url(Images/Sam-Ruth.jpg);
                background-size: 100%;
                background-repeat: no-repeat;
                height: 350px;
                margin-bottom: 10px;
            }
            .tom-good {
                background: url(Images/tom-good.jpg);
                background-size: 100%;
                height: 350px;
                background-repeat: no-repeat;
            }