
    body {
    background-image: url('Images/WestminsterAssembly.jpg');
    background-color: black;
    background-size: 100%;
    padding:5%;
    font-family: 'Raleway';
    }

    a:hover {color: #331302; }
    a {color: #732B05;}

    button{
               display:block;
               float:right;
               width:20%;
               margin: auto;
               padding: 10px;
               background:#F4E6D6;
               border-radius: 6px;
               -webkit-border-radius: 6px;
               -moz-border-radius: 6px;
            border:0;
            color: #732B05;
               
           }
    button:active{
               background-color: #BEBDC1;}
    button:hover {background-color: #BEBDC1;
                color:#331302;
                }
    input {
               width: 100%;
               padding: 10px;
               font-size: 11px;
               font-family:'Segoe UI', sans-serif;
               border-radius: 6px;
               -webkit-border-radius: 6px;
               -moz-border-radius: 6px;

           }
          
    input[type="email"] {
               color: #290000;
               /*
               background-image: url("Images/Email Symbol.jpg");
               background-repeat:no-repeat;
               background-position-x:0px;
               background-position-y:0%;
               */
               border: 0px;
           }
    input[type="email"] img {height: 100%; width: 100%;}
    textarea { 
               border-radius: 6;
               height: 100px;
               width:100%;
               /*Out
               background-image: url("IImages/Hand Symbol.png");
                  background-repeat:no-repeat;
               background-position-x:0px;
               background-position-y:0%;
               */
               padding:15px 0px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border: 0px;
            color:#290000;
           }
    textarea img {height: 100%; width: 100%;}

   .home {background: #F4E6D6;
                 border: 0px dotted lightgoldenrodyellow;
                 margin: 3px;
                 padding: 1%;
                 width: 4%;
                 text-align: center;
                 float:right;
                 top: 0px;  
                 right: 0px;
                 margin:0px;
                 box-shadow: -5px 5px 3px #706D70;  
                 -moz-box-shadow: -5px 5px 3px #706D70;
                 -webkit-box-shadow: -5px 5px 3px #706D70;   
                 position: fixed; }
    .home:after {
                       display:block;
                       padding-bottom:100%;
                 }

    .next { background: #F4E6D6;
                 border: 0px dotted lightgoldenrodyellow;
                 margin: 3px;
                 padding: 1%;
                 width: 4%;
                 text-align: center;
                 float:right;
                 top: 0px;   
                 right: 6%;
                 margin:0px;
                 box-shadow: -5px 5px 3px #706D70;  
                 -moz-box-shadow: -5px 5px 3px #706D70;
                 -webkit-box-shadow: -5px 5px 3px #706D70;   
                 position: fixed; }
    .next:after {
                       display:block;
                       padding-bottom:100%;
                 }


    .home img {
                    width: 100%;
                    height:100%;
                }
    .next img {
                    width: 100%;
                    height:100%;
                }
    .home:hover {background: #BEBDC1;
                }
    .next:hover {background: #BEBDC1;
                }
     .home:active {background: #BEBDC1;
                }
  
     .home:hover a {color:#331302;}
     .home:active a {color:#331302;}
     .next:active {background: #BEBDC1;
                }
     
     .next:hover a {color:#331302;}
     .next:active a {color:#331302;}

      .back { background: #F4E6D6;
                 border: 0px dotted lightgoldenrodyellow;
                 margin: 3px;
                 padding: 1%;
                 width: 4%;
                 text-align: center;
                 float:right;
                 top: 0px;   
                 right: 12%;
                 margin:0px;
                 box-shadow: -5px 5px 3px #706D70;  
                 -moz-box-shadow: -5px 5px 3px #706D70;
                 -webkit-box-shadow: -5px 5px 3px #706D70;   
                 position: fixed; }
                 .back:after {
                       display:block;
                       padding-bottom:100%;
                 }
         .back img {
                    width: 100%;
                    height:100%;
                }
        .back:hover {background: #BEBDC1;
                }
                  
                }
          .box {background: #F4E6D6;
                 border: 0px dotted lightgoldenrodyellow;
                 margin: 0px;
                 float: left;
                 width: 25%;
                 text-align: center;
                 height: 50px;
                }
            .box a {
                 padding: 10px; display:block;}
                 
            .box ul {
                background:#F4E6D6;
                padding:10px;
                list-style: none;
                z-index: 100;
                position: relative;
                text-align: left;
                display:block;
                opacity: 0;
                transition: opacity .3s;
                margin-top: 0;
            }

            .box:hover ul {
                display: block;
                opacity: 1;
            }
            .box:hover {background: #BEBDC1;
                }
            .box:ul hover li {background: #BEBDC1;}

      



h3 {color:#A51C04}

.chart {color:#590F02}

.qu {color:rgb(217,55,32)}





